@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    box-sizing: border-box;
}

body {
    background: #F8F8F8;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.header a {
    text-decoration: none;
}

.header a h1 {
    color: #A0B6CD;
    font-size: 28px;
    cursor: pointer;
}
.header ul {
    display: flex;
    gap: 30px;
}

ul li{
    list-style: none;
    border: 1px solid #bdbdbd;
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

ul li:hover {
    background: #A0B6CD;
    color: #fff;
}
ul li:hover a{
    color: #fff;
}

ul li a {
    color: #969494;
    text-decoration: none;
}
.more-link a {
    color: #969494;
    text-decoration: none;
    border:1px solid #6f6f6f;
    padding: 12px 0 12px 13px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
}
.more-link a i {
    background: #A0B6CD;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
}

.more-link a:hover {
    background: #A0B6CD;
    color: #fff;
}

.more-link a:hover i{
    background: #fff;
    color: #A0B6CD;

}

/* Hero section */

.hero {
    display: flex;
    margin: 30px 30px 0;
    background: #F8F8F8;
}
.left-container {
    width: 30%;
}
.left-container p {
    font-size: 18px;
}
.left-container img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.left-container h4 {
    font-size: 24px;
    padding: 10px;
}

.left-container div {
    display: flex;
    width: 95%;
    padding-top: 60px;
    font-size: 16px;
}

.right-container {
    width: 70%;
    position: relative;
}
.right-container h1 {
    font-size: 46px;
    margin-bottom: 20px;
}


.right-container img {
    width: 70%;
    height: auto;
    border-radius: 30px;

}

.right-container .card-container {
    position: absolute;
    top: 200px;
    right: 0;
    width: 25%;
}

.right-container .card1 {
    background: #fff;
    border-radius: 15px;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

}
.right-container .card1:hover {
    background: #f5f1f1;
}
.right-container .card1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.right-container .card1 h5 {
    font-size: 15px;
}
.right-container .card1 i {
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;
}
.right-container .card1 i:hover {
    background: #cac7c7;

}

.right-container .card2 {
    background: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    cursor: pointer;
}
.right-container .card2:hover {
    background: #f5f1f1;
}